@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");
body, header, main, footer, div, p, a, button, nav, ul, li, label, input, span, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*   
font-family: 'Mulish', sans-serif;
*/
body {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #7d7987;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.btn {
  width: 200px;
  padding: 17px 0px 17px 0px;
  text-align: center;
  display: block;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  background: #458ff6;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #ffffff;
  border: 1.4px solid #458ff6;
  color: #458ff6;
}

.btn_empty {
  border: 1.4px solid #458ff6;
  color: #458ff6;
  background: none;
}

.btn_empty:hover {
  color: #fff;
  background: #458ff6;
}

span.section-decor {
  margin: 26px 0px 30px 0px;
  height: 2px;
  width: 56px;
  display: block;
  background: #000000;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #000000;
  line-height: 56px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

header {
  padding: 30px 0 0 0;
  font-size: 18px;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navigation .navigation__list .navigation__item {
  margin: 0 0 0 40px;
}

header .navigation .navigation__list .navigation__item a.navigation__link {
  color: #1f1534;
  opacity: 0.5;
}

header .navigation .navigation__list .navigation__item a.navigation__link_active {
  color: #1f1534;
  opacity: 1;
  font-weight: 700;
}

footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding: 120px 0px 110px 0px;
  color: #ffffff;
}

footer .footer-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-grid .footer-grid__column .footer-grid__title {
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

footer .footer-grid .footer-grid__column .footer-grid__item {
  margin: 0px 0px 20px 0px;
}

footer .footer-grid .footer-grid__column a.footer-grid__link {
  color: #ffffff;
}

footer .footer-grid .footer-grid__column a.footer-grid__link:hover {
  color: #072652;
}

footer .footer-grid .footer-grid__column_1 {
  width: 400px;
}

footer .footer-grid .footer-grid__column_1 .footer-grid__text {
  margin: 17px 0px 31px 0px;
}

.carousel {
  margin: 0 auto;
  width: 1120px;
}

.carousel .slide {
  width: 1120px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 60px 118px 90px 118px;
  color: #ffffff;
}

.carousel .slide__title {
  color: #ffffff;
}

.carousel .section-decor {
  min-height: 2px;
  background: #ffffff;
}

.carousel .slide__box {
  margin: 30px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .slide__box .slide__item_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .slide__box .slide__item_1 .slide__img {
  width: 141px;
  height: 141px;
  margin: 0px 30px 0px 0px;
}

.carousel .slide__box .slide__item_1 .slide__text-box .slide__name {
  color: #ffffff;
  margin: 0px 0px 5px 0px;
}

.carousel .slide__box .slide__item_2 .slide__text {
  width: 420px;
  font-size: 19px;
  line-height: 30px;
}

.offer {
  margin-top: 80px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer__block {
  display: block;
  width: 440px;
  height: 340;
}

.offer .offer__block .offer__text {
  margin: 25px 0px 45px 0px;
  font-size: 21px;
}

.offer .offer__img {
  width: 693px;
  height: 598px;
  display: block;
  background: url("../img/offer.svg");
}

.services {
  background: rgba(241, 240, 240, 0.651);
}

.services .services__container {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.services .services__container .services__text {
  width: 960px;
}

.services .services__container .services__box {
  margin: 80px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.services .services__container .services__box .services__item {
  text-align: left;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 10px 40px 50px rgba(156, 156, 158, 0.418);
          box-shadow: 10px 40px 50px rgba(156, 156, 158, 0.418);
  border-radius: 20px;
  border: 3px solid rgba(156, 156, 158, 0.301);
}

.services .services__container .services__box .services__item .secvices__img {
  max-width: 92px;
  max-height: 92px;
}

.services .services__container .services__box .services__item .services__heading {
  margin: 20px 0px 3px 0px;
}

.services .services__container .services__btn {
  margin-top: 70px;
}

.prefs {
  padding: 80px 0px 80px 0px;
}

.prefs .prefs__block_1 .prefs__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.prefs .prefs__block_1 .prefs__item {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.prefs .prefs__block_2 {
  padding: 100px 0px 0px 0px;
}

.prefs .prefs__block_2 .prefs__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.prefs .prefs__block_2 .prefs__item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.prefs .prefs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prefs .prefs__block .prefs__img {
  display: block;
  height: 477px;
  width: 650px;
}

.prefs .prefs__block .prefs__item {
  height: 388px;
  width: 486px;
}

.prefs .prefs__block .prefs__item .prefs__text {
  margin: 0px 0px 35px 0px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px 70px 0px;
}

.news .news__wraper {
  margin: 20px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news__wraper .news__item {
  width: 350px;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.news .news__wraper .news__item .news__info {
  padding: 25px;
}

.news .news__wraper .news__item .news__info .news__item-text {
  margin: 12px 0px 25px 0px;
}

.news .news__wraper .news__item .news__info a.news__item-link {
  color: #458ff6;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.news .news__btn {
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */