@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
/*   
font-family: 'Mulish', sans-serif;
*/
$f-light: 300;
$f-reg: 400;
$f-med: 500;
$f-semi: 600;
$f-bold: 700;