body, header, main, footer, div, p, a, button, nav, ul, li, label, input, span, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}